.background{
  background-color: #cb658e;
  width: 100%;
  height: 100%;
}

.flex{
  display: flex;
  flex-direction: column;
  border:1px,solid,black;
}
.flex-column{
  display: flex;
  flex-direction: column;
}

.title-text{
  font-family: "Heebo", sans-serif;
}

.editor{
  width:40%;
  height:200px;
  /* background-color: blueviolet; */
  margin:0 auto;
  margin-top: 2%;
  filter:drop-shadow(2px 2px 2px black);
  background-color: rgb(151, 235, 95);
  flex-grow:3;
}

.preview{
  width:60%;
  height:75%;
  /* background-color: blueviolet; */
  margin:0 auto;
  margin: 2% 0 2% 0;
  filter:drop-shadow(2px 2px 2px black);
  background-color: rgb(151, 235, 95);
  flex-grow:1;
}

.editor-label{
  padding-left: 5%;
  width: 100%;
  margin: 2%;
  font-weight: bold;  
}

.text-area{
  box-sizing: border-box;
  padding:2%;
  box-shadow: 2px -2px 2px 1px rgba(0, 0, 0, 0.2);
  width:100%;
  background-color: rgb(181, 245, 183);
  height:100%;
  
}

.center{
  align-items: center;

}

.wrapper{
  border:1px solid black;
  /* background-color: blue; */
}

.text-padding{
  width: 100%;
  height: 100%;
}


img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}
